{% extends "base.html" %}

{% block conteudonovo %}
    <div class="container mt-5">
        <h1>Cadastro de Produto</h1>   
        <form name="formadd_produto" method="post" id="formulario">
            <div class="box">
                <fieldset>
                    <legend>Produto</legend>
                    <h2>Cadastrando Produto:</h2>  

                    <div class="mb-3">
                        <label for="name" class="form-label">
                            Nome do Item:
                        </label>
                        <input type="text" class="form-control" name="Nome" id="name" placeholder="Digite o nome do produto" required/>
                    </div>

                    <div class="mb-3">
                        <label for="categoria" class="form-label">
                            Categoria:
                        </label>
                        <select class="form-control" name="categoria" id="categoria" required>
                            <option value="Limpeza">Limpeza</option> 
                            <option value="Mercearia">Mercearia</option> 
                            <option value="Bebida">Bebida</option> 
                            <option value="Frios">Frios</option> 
                            <option value="Geral">Geral</option> 
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="box_qtd" class="form-label">
                            Quantidade (10-100):
                        </label>
                        <input type="number" class="form-control" id="box_qtd" name="quantidade" min="10" max="100" required/>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">
                           Fornecedor:
                        </label>
                        <input type="text" class="form-control" name="Nome" id="name" placeholder="Digite o nome do produto" required/>
                    </div>
                    <div class="mb-3">
                        <label for="mensagem" class="form-label">
                            Descrição:
                        </label>
                        <textarea class="form-control" name="mensagem" id="mensagem" placeholder="Digite sua mensagem"></textarea>
                    </div>
                    <div> 
                        <label for="diaa">Data de fabricação: </label>
                        <input id="date" type="date" />
                    </div>
                    <div>   
                        <label for="diaa">Data de vencimento: </label>
                        <input id="date" type="date" />
                    </div>
                    <!-- Botão de envio -->
                    <button type="submit" class="btn btn-primary">Cadastrar Produto</button>
                </fieldset>
            </div>   
        </form>
    </div>
{% endblock %}
