
{%from 'bootstrap5/'%}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
   
    {%block head%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Gerenciamento de Estoque</title>
    <title>{% if title % }{{title}}{% else % }  Aplicação{% endif % }</title>
    {{bootstrap.load.css() }}
    {%endblock%}

</head>

<!-- bloco do jinjaL -->
 <!-- s/tittle  <title>{% if title % }{{title}}{% else % }  Aplicacap  {% endif % }</title>  -->
   <title>{{title}}</title>
    
    

</body>
</html>
